<head>
    <link rel="stylesheet" href="style.css">
</head>
<%- include('header.ejs') %>

<div class="container ">
    <h1 class="align">Compose</h1>
    <form class="align" method="post" href="/compose">
    <label for="title">Title</label>
    <input class="input-text" name="title" id="title" type="text" rows="2">
    <label for="content">Content</label>
    <textarea class="input-text" cols="100" rows="5" name="content" id="content"></textarea>
    <button type="submit">Post!</button>
    </form>

</div>