<head>
    <link rel="stylesheet" href="style.css">
</head>
<%- include('header.ejs') %>

<div class="container ">
    <h1 class="align">Compose</h1>
    <form class="container align" method="post" href="/">
    <label>Title :</label>
    <input type="text">
    <label>Content :</label>
    <input type>
    <button type="submit">Post!</button>
    </form>

</div>