<head>
    <link rel="stylesheet" href="style.css">
</head>
<%- include('header.ejs') %>

<div class="container ">
    <h1 class="align">Compose</h1>
    <form class="align" method="post" href="/">
    <label for="Title">Title</label>
    <input class="input-text" name="Title" id="Title" type="text" rows="2">
    <label for="Content" id="Content">Content</label>
    <textarea class="input-text" cols="100" rows="5" id="Content"></textarea>
    <button type="submit">Post!</button>
    </form>

</div>