
<head>
    <link rel="stylesheet" href="style.css">
</head>
<%- include('header.ejs'); -%>
<div class="container">
<div>
<h1 class="align">Home</h1>
<p class="align">ahahab ajajaja ajaja x xhdhd djd  snsnwh hsbs  aaajjs drurucc ggvm bxhxuzoeog </p>
</div>

<% if (locals.posts) { %>
    <% for(let i=1;i<= posts.length;i++) {%>
        <div >
        <h1 class="align"><%=posts[i-1].title%></h1>
        <p class="align inline"><%=posts[i-1].content.substring(0, 50)%> </p>
        <a class=" inline" href="">... Read More</a>
        </div>
    <% } %>
<% } %>
</div>